@model Item

<div class="item">
    <img src="@Model.ImageUrl" alt="item" class="center">
    <h2>
        <a asp-controller="Item" asp-action="Details" asp-route-id="@Model.ItemId">@Model.Name</a>
    </h2>
    <h3>@Model.Price.ToString("c")</h3>
    <h4>@Model.Category.CategoryName</h4>
    
    <a
        asp-controller="ShoppingCart"
        asp-action="AddToShoppingCart"
        asp-route-itemId="@Model.ItemId">Add to cart</a>
</div>