@model Item

    <div class="detail">
        <img src="@Model.ImageUrl" alt="item" class="center">
        <h1>@Model.Name</h1>
        <h2>@Model.Price.ToString("c")</h2>
        <h3>@Model.LongDescription</h3>
        <h3>@Model.InStock</h3>
        <a
            asp-controller="ShoppingCart"
            asp-action="AddToShoppingCart"
            asp-route-itemId="@Model.ItemId">Add to cart</a>
    </div>